
@media(max-width: 776px){
	aside{
	    display: none;
    	position: fixed;
	}

	.chat-box{
		width: 100%;
	}
	
	.search input{
		width: 75%;
	}
}



@media(max-width: 442px){  
	.sm-toggle-menu{
	    width: 80% ;
	}
}


@media (min-width: 443px) and (max-width: 621px){  

	.sm-toggle-menu{
	    width: 65%;
	}
}

@media(min-width: 622px){  
	.sm-toggle-menu{
		width: 50%;
	}
}



