


@media(max-width: 776px){ /*sm*/ 
	aside{
	    display: none;
    	position: fixed;
	}

	.chat-box{
		width: 100%;

	}
	
	.search input{
		width: 75%;
	}



}


/* the smallest mobiles*/
@media(max-width: 320px){  

	.msg-data {
	     max-width: 76%; 
	}

	.chat-box-container {
	    padding-left: 10px;
	    padding-right: 10px;
	}

}



@media(max-width: 442px){  

	.sm-toggle-menu{
	    width: 80% ;
	}

}


@media (min-width: 443px) and (max-width: 621px){  

	.sm-toggle-menu{
	    width: 65%;
	}
}


@media(min-width: 622px){  
	.sm-toggle-menu{
		width: 50%;
	}
}









/*=========================================================================*/






/* aside is visible*/
@media(min-width: 777px){ /*sm*/ 

	aside{
	    width: 34%;
	}


	.chat-box{
		width: 66%;

	}

		
	.search input{
		width: 75%;
	}


}


/* very larg screens*/
@media(min-width: 1020px) {
	aside{
	    width: 28%;
	}
	.chat-box{
	    width: 72%;
	}

}



/* CUSTOM */
/*=============================================*/

.sm-toggle-menu{
    display: block;
}


.md-toggle-menu{
	display: none;
}


.full-width{
	width: 100%
}



